section.call-back
    div.page-wrapper
        h2.title-1.title-1_white.text-center.mb-5 Давайте обсудим вашу задачу
        div.text-center
            a.call-back__btn.button.button_no-bdr(href='#') перезвоните мне