section.digital
    div.page-wrapper
        h2.title-1.title-1_white.text-center.digital__title Цифровые решения
        p.digital__details
            | Для проведения цифровой трансформации и достижения целевых показателей</br>
            | национальных программ и проектов
        div.digital__tabs-block
            div.digital__tabs-row
                div.digital__tab
                    div
                        i.eagle
                    p.digital__tab-caption Национальный программа</br>«Цифровая экономика РФ»
                div.digital__tab
                    div
                        i.eagle
                    p.digital__tab-caption Национальный проект</br>«Образование»

