section.digital
    div.page-wrapper
        h2.title-1.title-1_white.text-center.digital__title Цифровые решения
        p.digital__details
                            | Для проведения цифровой трансформации и достижения целевых показателей</br>
                            | национальных программ и проектов
        div.digital__tabs-block