- var digit_items = []
- digit_items.push({title:'Современная школа', img: ''})
- digit_items.push({title:'Успех каждого ребенка', img: ''})
- digit_items.push({title:'Поддержка семей, имеющих детей', img: ''})
- digit_items.push({title:'Цифровая образовательная среда', img: ''})
- digit_items.push({title:'Молодые профессионалы', img: ''})
- digit_items.push({title:'Социальная активность', img: ''})
- digit_items.push({title:'Социальные лифты для каждого', img: ''})
- digit_items.push({title:'Новые возможности для каждого', img: ''})
- digit_items.push({title:'Учитель будущего', img: ''})


section.digital
    div.page-wrapper
        h2.title-1.title-1_white.text-center.digital__title Цифровые решения
        p.digital__details
            | Для проведения цифровой трансформации и достижения целевых показателей</br>
            | национальных программ и проектов
    div.digital__tabs-block-wrapper
        div.page-wrapper
            div.digital__tabs-block.js-ttabz
                div.digital__tabs-row.js-ttabz-tabs-row
                    div.digital__tab.js-ttabz-tab.js-ttabz-active
                        div
                            i.eagle
                        p.digital__tab-caption Национальный программа</br>«Цифровая экономика РФ»
                    div.digital__tab.js-ttabz-tab
                        div
                            i.eagle
                        p.digital__tab-caption Национальный проект</br>«Образование»
                div.digital__container.js-ttabz-content
                    div.digital__container-item.js-ttabz-tabbed-block.js-ttabz-visible
                        div.row.m-0.digital__grid-row
                            each item in digit_items
                                div.digital__grid.col-4= item.title

                    div.digital__container-item.js-ttabz-tabbed-block xxxx


