


footer.footer
    div.footer__upper-row
        div.page-wrapper.row.p-0
            div.col-3
                div.footer__upper-row-item
                    <svg class="svg-mobile-phone-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#mobile-phone"></use>
                    </svg>
                    a.footer__upper-row-text(href='tel:+792343243235') +7 (923) 432 432 35
            div.col-3
                div.footer__upper-row-item
                    <svg class="svg-mail-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#mail"></use>
                    </svg>
                    a.footer__upper-row-text(href='mailto:ask@agency.ru') ask@agency.ru
            div.col-6
                div.footer__upper-row-item
                    <svg class="svg-location-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#location"></use>
                    </svg>
                    span.footer__upper-row-text Москва, пер. Водянковский, 24
    div.footer__main
        div.page-wrapper
            div.row.p-0
                div.col-3
                    div
                        a.footer__main-link(href='#') Цифровые решения
                    div
                        a.footer__seconfary-link(href='#') Современная школа
                    div
                        a.footer__seconfary-link(href='#') Успех каждого ребенка
                    div
                        a.footer__seconfary-link(href='#') Поддержка семей, имеющих детей
                    div
                        a.footer__seconfary-link(href='#') Цифровая образовательная среда
                    div
                        a.footer__seconfary-link(href='#') Молодые профессионалы
                    div
                        a.footer__seconfary-link(href='#') Социальная активность
                    div
                        a.footer__seconfary-link(href='#') Социальные лифты для каждого
                    div
                        a.footer__seconfary-link(href='#') Новые возможности для каждого
                    div
                        a.footer__seconfary-link(href='#') Учитель будущего