- var col1 = []
- col1.push({title:'Цифровые решения', isMain: true, link:'#'})
- col1.push({title:'Современная школа', link:'#'})
- col1.push({title:'Успех каждого ребенка', link:'#'})
- col1.push({title:'Поддержка семей, имеющих детей', link:'#'})
- col1.push({title:'Цифровая образовательная среда', link:'#'})
- col1.push({title:'Молодые профессионалы', link:'#'})
- col1.push({title:'Социальная активность', link:'#'})
- col1.push({title:'Социальные лифты для каждого', link:'#'})
- col1.push({title:'Новые возможности для каждого', link:'#'})
- col1.push({title:'Учитель будущего', link:'#'})

- var col2 = []
- col2.push({title:'Направления', isMain: true, link:'#'})
- col2.push({title:'Проектный офис / внешний монитор', link:'#'})
- col2.push({title:'Аудит и мониторинг ведомственной цифровой среды', link:'#'})
- col2.push({title:'Документирование и контроль реализации проектов и работ', link:'#'})
- col2.push({title:'Разработка, поддержка и развитие ПО. Внедрение и подбор кадров', link:'#'})
- col2.push({title:'Цифровой маркетинг', link:'#'})

- var col3 = []
- col3.push({title:'Проектный портфель', isMain: true, link:'#'})
- col3.push({title:'Обеспечение взаимодействия школьных библиотек и федеральных хранилищ', link:'#'})
- col3.push({title:'Государственный мониторинг общеобразовательных организаций', link:'#'})
- col3.push({title:'Обеспечение взаимодействия школьных библиотек и федеральных хранилищ', link:'#'})
- col3.push({title:'Государственный мониторинг общеобразовательных организаций', link:'#'})
- col3.push({title:'Обеспечение взаимодействия школьных библиотек и федеральных хранилищ', link:'#'})
- col3.push({title:'Государственный мониторинг общеобразовательных организаций', link:'#'})
- col3.push({title:'Обеспечение взаимодействия школьных библиотек и федеральных хранилищ', link:'#'})
- col3.push({title:'Государственный мониторинг общеобразовательных организаций', link:'#'})

- var col4 = []
- col4.push({title:'Агентство', isMain: true, link:'#'})
- col4.push({title:'Новости', isMain: true, link:'#'})
- col4.push({title:'Контакты', isMain: true, link:'#'})

mixin linksList(title, link, isMain)
    div
        if isMain
            a.footer__main-link(href='#{link}')= title
        else
            a.footer__seconfary-link(href='#{link}')= title

footer.footer
    div.footer__upper-row
        div.page-wrapper.row.m-0
            div.col-12.col-md-3
                div.footer__upper-row-item
                    <svg class="svg-mobile-phone-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#mobile-phone"></use>
                    </svg>
                    a.footer__upper-row-text(href='tel:+792343243235') +7 (923) 432 432 35
            div.col-12.col-md-3
                div.footer__upper-row-item
                    <svg class="svg-mail-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#mail"></use>
                    </svg>
                    a.footer__upper-row-text(href='mailto:ask@agency.ru') ask@agency.ru
            div.col-md-6.col-12
                div.footer__upper-row-item
                    <svg class="svg-location-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#location"></use>
                    </svg>
                    span.footer__upper-row-text Москва, пер. Водянковский, 24
    div.footer__main
        div.page-wrapper
            div.row.m-0
                div.col-12.col-md-3.mb-5.mb-md-0
                    each link in col1
                        +linksList(link.title, link.link, link.isMain)
                div.col-12.col-md-3.mb-5.mb-md-0
                    each link in col2
                        +linksList(link.title, link.link, link.isMain)
                div.col-12.col-md-3.mb-5.mb-md-0
                    each link in col3
                        +linksList(link.title, link.link, link.isMain)
                div.col-12.col-md-3.pl-3.pl-md-5
                    div.ml-0.ml-md-5
                        each link in col4
                            +linksList(link.title, link.link, link.isMain)

    div.footer__lower-row
        div.page-wrapper
            div.footer__lower-row-container.py-5.py-lg-0
                a(href='/').pb-5.pb-lg-0
                    <svg class="svg-logo-monocolor-dims footer__logo">
                    <use xlink:href="/img/vector/sprite-symbol.svg#logo-monocolor"></use>
                    </svg>
                span.footer__copyright.pb-5.pb-lg-0 © 2019 Агентство цифровой трансформации
                div.social-block
                    a.social-block__social-link(href='#')
                        <svg class="svg-soc-fb-dims">
                        <use xlink:href="/img/vector/sprite-symbol.svg#soc-fb"></use>
                        </svg>
                    a.social-block__social-link(href='#')
                        <svg class="svg-soc-tw-dims">
                        <use xlink:href="/img/vector/sprite-symbol.svg#soc-tw"></use>
                        </svg>
                    a.social-block__social-link(href='#')
                        <svg class="svg-soc-vk-dims">
                        <use xlink:href="/img/vector/sprite-symbol.svg#soc-vk"></use>
                        </svg>
                    a.social-block__social-link(href='#')
                        <svg class="svg-soc-in-dims">
                        <use xlink:href="/img/vector/sprite-symbol.svg#soc-in"></use>
                        </svg>



