header.header
    div.page-wrapper.header__row
        a.mr-auto(href='/')
            i.svg-logo.svg-logo-dims
        div.header__nav.d-none.d-lg-flex
            a.header__nav-item(href='#digital')
                <svg class="svg-main-square-dims mr-3">
                    <use xlink:href="/img/vector/sprite-symbol.svg#main-square"></use>
                </svg>
                | Трансформация
            a.header__nav-item(href='#directions')
                <svg class="svg-main-circle-dims mr-3">
                    <use xlink:href="/img/vector/sprite-symbol.svg#main-circle"></use>
                </svg>
                | Стратегия
            a.header__nav-item(href='#instruments')
                <svg class="svg-main-triangle-dims mr-3">
                <use xlink:href="/img/vector/sprite-symbol.svg#main-triangle"></use>
                </svg>
                | Технологии

        div.header__right-block
            a.header__call(href='tel:+79109999999')
                <svg class="svg-phone-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#phone"></use>
                </svg>
            span.header__hamburger
                <svg class="svg-hamburger-dims">
                    <use xlink:href="/img/vector/sprite-symbol.svg#hamburger"></use>
                </svg>