section.news-announce
    div.page-wrapper
        h2.title-1.text-center.news-announce__title Новости
        .news-announce__row
            div.row.m-0
                div.col-12.col-lg-4
                    a.news-announce__block(href='')
                        time.news-announce__time 14 января 2019
                        p.news-announce__text
                            | О решении по итогам совещения
                            | о применении отечественного
                            | телекоммуникационного оборудования
                            | при реализации мероприятий
                            | национальной программы
                            | и национального проекта «Цифровая
                            | экономика»
                        div.news-announce__caption
                            i.news-announce__caption-icon
                                <svg class="svg-flag-dims">
                                <use xlink:href="/img/vector/sprite-symbol.svg#flag"></use>
                                </svg>
                            span.news-announce__caption-text
                                | Национальная программа<br>
                                | «Цифровая экономика РФ»
                div.col-12.col-lg-4
                    a.news-announce__block(href='')
                        time.news-announce__time 14 января 2019
                        p.news-announce__text
                            | Доклад Константина Носкова на
                            | заседании президиума Совета при
                            | Президенте Российской Федерации
                            | по стратегическому развитию
                            | и национальным проектам
                        div.news-announce__caption
                            i.news-announce__caption-icon
                                <svg class="svg-flag-dims">
                                <use xlink:href="/img/vector/sprite-symbol.svg#flag"></use>
                                </svg>
                            span.news-announce__caption-text
                                | Национальная программа<br>
                                | «Цифровая экономика РФ»
                div.col-12.col-lg-4
                    a.news-announce__block(href='')
                        time.news-announce__time 14 января 2019
                        p.news-announce__text
                            | О решении по итогам совещения
                            | о применении отечественного
                            | телекоммуникационного оборудования
                            | при реализации мероприятий
                            | национальной программы
                            | и национального проекта
                        div.news-announce__caption
                            i.news-announce__caption-icon
                                <svg class="svg-flag-dims">
                                <use xlink:href="/img/vector/sprite-symbol.svg#flag"></use>
                                </svg>
                            span.news-announce__caption-text
                                | Национальная программа<br>
                                | «Цифровая экономика РФ»

        div.text-center
            a.button.button_dark(href='') все новости