div.overlay-nav
    div.page-wrapper.page-wrapper_sm.position-relative
        div.js-overlay-close.overlay-close
            <svg class="svg-close-cross-dims">
            <use xlink:href="/img/vector/sprite-symbol.svg#close-cross"></use>
            </svg>

        div.row.p-0
            div.col-12.col-md-6
                nav.overlay-navigation
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='/solutions.html') Цифровые решения
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Направления
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Инструменты
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Проектный портфель
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Агентство
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Новости

            div.col-12.col-md-5.ml-auto.overlay-nav__contacts
                div.mb-5
                    div.overlay-nav__contacts-wrapper
                        div.overlay-nav__contacts-row
                            <svg class="overlay-nav__icon-phone">
                            <use xlink:href="/img/vector/sprite-symbol.svg#mobile-phone"></use>
                            </svg>
                            a.overlay-nav__contacts-text(href='tel:+792343243235') +7 (923) 432 432 35
                        div.overlay-nav__contacts-row
                            <svg class="overlay-nav__icon-mail">
                            <use xlink:href="/img/vector/sprite-symbol.svg#mail"></use>
                            </svg>
                            a.overlay-nav__contacts-text(href='mailto:ask@agency.ru') ask@agency.ru
                        div.overlay-nav__contacts-row
                            <svg class="overlay-nav__icon-location">
                            <use xlink:href="/img/vector/sprite-symbol.svg#location"></use>
                            </svg>
                            span.overlay-nav__contacts-text Москва, пер. Водянковский, 24

                    div.social-block.social-block_nav
                        a.social-block__social-link(href='#')
                            <svg class="svg-soc-fb-dims">
                            <use xlink:href="/img/vector/sprite-symbol.svg#soc-fb"></use>
                            </svg>
                        a.social-block__social-link(href='#')
                            <svg class="svg-soc-tw-dims">
                            <use xlink:href="/img/vector/sprite-symbol.svg#soc-tw"></use>
                            </svg>
                        a.social-block__social-link(href='#')
                            <svg class="svg-soc-vk-dims">
                            <use xlink:href="/img/vector/sprite-symbol.svg#soc-vk"></use>
                            </svg>
                        a.social-block__social-link(href='#')
                            <svg class="svg-soc-in-dims">
                            <use xlink:href="/img/vector/sprite-symbol.svg#soc-in"></use>
                            </svg>

