div.overlay-nav
    div.page-wrapper.page-wrapper_sm.position-relative
        div.js-overlay-close.overlay-close
            <svg class="svg-close-cross-dims">
            <use xlink:href="/img/vector/sprite-symbol.svg#close-cross"></use>
            </svg>

        div.row.p-0
            div.col-6
                nav.overlay-navigation
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Цифровые решения
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Направления
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Инструменты
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Проектный портфель
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Агентство
                    div.overlay-navigation__row
                        a.overlay-navigation__link(href='#') Новости

            div.col-6
                div.mb-5


