section.portfolio
    div.page-wrapper
        h2.title-1.text-center.portfolio__title Проектный портфель
        div.portfolio__main
            div.row.m-0
                div.col-4
                    a.portfolio__block.portfolio__block_teal(href='#')
                        div.portfolio__wrapper
                            div.portfolio__inner-wrapper
                                h3.portfolio__block-text
                                    | Обеспецение взаимодействия
                                    | школьных библиотек
                                    | и федеральных хранилищ
                                    | мониторинг организаций
                                div.portfolio__block-caption
                                    i.portfolio__caption-icon
                                    | Министерство просвещения РФ

                    a.portfolio__block(href='#')
                        div.portfolio__wrapper
                            div.portfolio__block-img(style={'background-image': 'url(/img/raster/temp/01.jpg)'})
                            div.portfolio__inner-wrapper
                                h3.portfolio__block-text
                                    | Обеспецение взаимодействия
                                    | школьных библиотек
                                    | и федеральных хранилищ
                                    | мониторинг организаций
                                div
                                    i.portfolio__caption-icon
                                    | Министерство просвещения РФ

                div.col-4
                    a.portfolio__block(href='#')
                        div.portfolio__wrapper
                            div.portfolio__block-img(style={'background-image': 'url(/img/raster/temp/02.jpg)'})
                            div.portfolio__inner-wrapper
                                h3.portfolio__block-text
                                    | Государственный мониторинг
                                    | общеобразовательных
                                    | организаций
                                div
                                    i.portfolio__caption-icon
                                    | Министерство просвещения РФ

                    a.portfolio__block.portfolio__block_java(href='#')
                        div.portfolio__wrapper
                            div.portfolio__inner-wrapper
                                h3.portfolio__block-text
                                    | Открытая информационно-
                                    | образовательнгая среда
                                    | «Российская электронная школа»
                                    | и база данных уроков.
                                    | Государственный мониторинг
                                    | общеобразовательных
                                    | организаций
                                div.portfolio__block-caption
                                    i.portfolio__caption-icon
                                    | Министерство просвещения РФ

                div.col-4
                    a.portfolio__block.portfolio__block_flamingo(href='#')
                        div.portfolio__wrapper
                            div.portfolio__inner-wrapper
                                h3.portfolio__block-text
                                    | Открытая информационно-
                                    | образовательнгая среда
                                    | «Российская электронная школа»
                                    | и база данных уроков.
                                    | Государственный мониторинг
                                    | общеобразовательных
                                    | организаций
                                div.portfolio__block-caption
                                    i.portfolio__caption-icon
                                    | Министерство просвещения РФ

                    a.portfolio__block.portfolio__block_cyprus(href='#')
                        div.portfolio__wrapper
                            div.portfolio__inner-wrapper
                                h3.portfolio__block-text
                                    | Открытая информационно-
                                    | образовательнгая среда
                                    | «Российская электронная школа»
                                    | и база данных уроков.
                                    | Государственный мониторинг
                                    | общеобразовательных
                                    | организаций
                                div.portfolio__block-caption
                                    i.portfolio__caption-icon
                                    | Министерство просвещения РФ

        div.text-center
            button.button.button_dark все проекты

