div.promo
    div.page-wrapper
        div.promo__block
            h2.title-1.promo__title
                | Центр цифровых<br/>
                | компетенций для решения<br/>
                | задач государства
            div.text-center
                a.button.mx-3.mb-3(href='#') Об агентстве
                a.button.button_dark.mx-3.mb-3(href='#') скачать презентацию