section.search-block
    div.page-wrapper
        form
            div.col-7.m-auto.position-relative
                input(type='search', placeholder='Поиск').search-block__input
                button(type='submit').search-block__submit
                    <svg class="svg-search-lens-dims">
                        <use xlink:href="/img/vector/sprite-symbol.svg#search-lens"></use>
                    </svg>
            div