extends templates/base

block content
    include includes/header

    include includes/promo
    include includes/perks
    include includes/digital
    include includes/directions
    include includes/instruments
    include includes/portfolio
    include includes/news
    include includes/call-back


    include includes/footer

block modals
    include includes/overlay-menu