extends templates/base

block body
    include includes/header

    include includes/promo
    include includes/perks
    include includes/digital
    include includes/directions

    include includes/footer
