.svg-arrow-dims {
	width: 17px;
	height: 12px;
}

.svg-close-cross-dims {
	width: 27.664px;
	height: 27.664px;
}

.svg-directions-chart-dims {
	width: 54px;
	height: 50.791px;
}

.svg-directions-hand-dims {
	width: 53px;
	height: 66.49px;
}

.svg-directions-monitor-dims {
	width: 55px;
	height: 51.382px;
}

.svg-directions-monitor-check-dims {
	width: 65px;
	height: 56.338px;
}

.svg-directions-scroll-dims {
	width: 62.001px;
	height: 47.51px;
}

.svg-directions-settings-dims {
	width: 57px;
	height: 51.949px;
}

.svg-flag-dims {
	width: 16px;
	height: 20.056px;
}

.svg-hamburger-dims {
	width: 32px;
	height: 18px;
}

.svg-location-dims {
	width: 55.659px;
	height: 91.335px;
}

.svg-logo-monocolor-dims {
	width: 146.532px;
	height: 44.931px;
}

.svg-mail-dims {
	width: 76.036px;
	height: 56.127px;
}

.svg-main-circle-dims {
	width: 30px;
	height: 30px;
}

.svg-main-square-dims {
	width: 27px;
	height: 27px;
}

.svg-main-triangle-dims {
	width: 35.654px;
	height: 27.855px;
}

.svg-mobile-phone-dims {
	width: 62.7px;
	height: 87.4px;
}

.svg-phone-dims {
	width: 21px;
	height: 21px;
}

.svg-soc-fb-dims {
	width: 10px;
	height: 20.721px;
}

.svg-soc-in-dims {
	width: 22px;
	height: 22px;
}

.svg-soc-tw-dims {
	width: 21px;
	height: 17.066px;
}

.svg-soc-vk-dims {
	width: 21.001px;
	height: 11.885px;
}

.svg-tools-arrows-dims {
	width: 51px;
	height: 38px;
}

.svg-tools-hat-dims {
	width: 85.127px;
	height: 91.324px;
}

.svg-tools-ok-dims {
	width: 86.178px;
	height: 86.784px;
}

.svg-tools-settings-dims {
	width: 99.118px;
	height: 88.087px;
}

