%svg-common {
	background: url("/img/vector/sprite-css.svg") no-repeat;
}

.svg-logo {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-logo-dims {
	width: 150.53px;
	height: 48.93px;
}

.svg-perks-bag {
	@extend %svg-common;
	background-position: 57.40584141026474% 94.6893039049236%;
}

.svg-perks-bag-dims {
	width: 94.27px;
	height: 92.75px;
}

.svg-perks-building {
	@extend %svg-common;
	background-position: 0 99.41532976827095%;
}

.svg-perks-building-dims {
	width: 88.25px;
	height: 99.75px;
}

.svg-perks-hands {
	@extend %svg-common;
	background-position: 99.41223088099325% 0;
}

.svg-perks-hands-dims {
	width: 96.58px;
	height: 102.5px;
}

.svg-perks-hat {
	@extend %svg-common;
	background-position: 0 32.72909698996656%;
}

.svg-perks-hat-dims {
	width: 113.2px;
	height: 90.5px;
}

