.title-1 {
  font-family: $futura-pt;
  color: #000000;
  font-size: 66px;
  font-weight: 300;
  line-height: 1.09;
  @media screen and (max-width: 960px) {
    font-size: 60px;
  }
  &_white {
    color: #fff;
  }
}

.button {
  border: 1px solid $cyprus;
  width: 280px;
  height: 60px;
  color: $cyprus;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    color: $cyprus;
    text-decoration: none;
  }
  @media screen and (max-width: 576px) {
    width: 250px;
    font-size: 26px;
    height: 80px;
  }
  &_mobile-full-width {
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  &_dark {
    background: $cyprus;
    color: #fff;
    &:hover {
      background: $cyprus;
      color: #fff;
    }
  }
}

.eagle {
  @include retina-sprite($eagle-group);
  display: inline-block;
}
