.digital {
  background: $cyprus;
  color: #fff;
  padding-top: 10%;
  &__title {
    margin-bottom: 25px;
  }
  &__details {
    color: #c0c0c0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.08;
    text-align: center;
  }
  &__tabs-block {

  }
}