.directions {
  background: $java;
  padding: 130px 0;
  @media screen and (max-width: 575px) {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__grid {
    padding-top: 40px;

    &:nth-of-type(1) {
      margin-bottom: 80px;
    }

    &:nth-of-type(2) {
      margin-bottom: 40px;
    }

    &:nth-of-type(4) {
      margin-bottom: 80px;
    }

    &:nth-of-type(5) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 767px) {
      &:nth-of-type(odd) {
        margin-bottom: 40px;
      }

      &:nth-of-type(even) {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 0!important;
    }
  }

  &__block {
    height: 300px;
    background: #f4f4f4;
    position: relative;
    display: block;
    transition: all .2s;

    &:hover {
      background: #fff;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

      .directions__icon-block {
        background: $starship;
      }

      .directions__hover-caption-block {
        opacity: 1;
        visibility: visible;
      }

      .directions__arrow {
        transform: translateX(0);
      }
    }

    &:hover {
      text-decoration: none;
      color: inherit;
    }

  }

  &__icon-block {
    width: 122px;
    height: 122px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    position: relative;
    top: -27px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $cyprus;
  }

  &__block-name {
    padding: 0 15%;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
      padding: 0 5%;
    }
    @media screen and (max-width: 575px) {
      font-size: 30px;
    }
  }

  &__hover-caption-block {
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }

  &__hover-caption {
    color: #f05547;
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
  }

  &__arrow {
    transform: translateX(-20px);
    transition: all .3s;
  }
}
