.footer {
  &__upper-row {
    border-bottom: 1px solid #505050;
  }

  background: $cyprus;

  &__upper-row-item {
    height: 140px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    fill: #8f8f8f;
  }

  &__upper-row-text {
    color: inherit;
    margin-left: 15px;

    &:hover {
      color: #fff;
    }

    @at-root {
      a#{&} {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__main {
    padding: 50px 0;
    border-bottom: 1px solid #505050;
  }

  &__main-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 35px;
    display: inline-block;

    &:hover {
      color: #fff;
    }
  }

  &__seconfary-link {
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20px;
    display: inline-block;

    &:hover {
      color: #b7b7b7;
    }
  }

  &__lower-row {

  }

  &__lower-row-container {
    height: 150px;
    display: flex;
    align-items: center;
  }

  &__logo {
    fill: #fff;
    margin-right: 200px;
  }

  &__copyright {
    color: #989898;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }

  &__socail-block {

  }
}