.overlay-nav {
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/img/raster/shape-gray-triangle.png') 70% 70% no-repeat,
          url('/img/raster/shape-yellow-circle.png') -20% -100% $java no-repeat;
  transition: all .5s cubic-bezier(0.25, 0.1, 0.3, 1.3);
  z-index: 1000;
  padding-top: 130px;
  padding-bottom: 50px;
  transform: scaleX(0);
  transform-origin: right;
  &.active {

    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
  }
}

.overlay-navigation {
  &__row {
    margin-bottom: 30px;
  }

  &__link {
    color: $cyprus;
    font-size: 54px;
    font-weight: 300;
    line-height: 1;
    transition: all .2s;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.overlay-close {
  position: absolute;
  top: -70px;
  right: 20px;
  transition: all .2s;
  fill: $cyprus;
  cursor: pointer;

  &:hover {
    fill: #fff;
  }
}