.search-block {
  padding: 60px 0 30px;
  &__input {
    height: 50px;
    border-width: 0 0 2px 0;
    border-color: #cdcece;
    background: transparent;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    padding-right: 40px;
  }
  &__submit {
    position: absolute;
    top: 7px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}